service routing protocols model multi-agent



peer-filter LEAF-AS-RANGE
 10 match as-range 65000-65535 result accept

router bgp {{ underlay['global']['DC1']['ASN'] }}
  router-id {{ underlay['devices'][inventory_hostname]['interfaces']['loopback0']['ipv4']}}
  no bgp default ipv4-unicast
  maximum-paths 3
  distance bgp 20 200 200




  neighbor EVPN peer group
  bgp listen range {{ underlay['global']['DC1']['lo0']}} peer-group EVPN peer-filter LEAF-AS-RANGE
 
  
  neighbor EVPN route-reflector-client
  neighbor EVPN send-community extended
  neighbor EVPN maximum-routes 0
  
  address-family evpn
    neighbor EVPN activate

     